{% extends "base.html" %}

{% block content %}

{% load static %}
<!-- Page Header-->
<header class="masthead" style="background-image: url('{% static 'assets/img/blogs-bg.jpg' %}')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>All Blogs</h1>
                    <span class="subheading">Here are some blogs that you can read!</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <!-- Post preview-->
            {% for blog in blogs %}
            <div class="post-preview">
                <a href="{% url 'blog.details' pk=blog.id %}">
                    <h2 class="post-title">{{blog.title}}</h2>
                    <h4 class="post-subtitle">{{blog.category_name}}</h4>
                    <h5 class="post-subtitle">{{blog.text|truncatechars:20}}</h5>
                </a>
                <p class="post-meta">
                    Posted by {{blog.author}} on {{blog.created_at}}
                </p>
            </div>
            <!-- Divider-->
            <hr class="my-4" />
            {% endfor %}
        </div>
    </div>
</div>

<!-- Footer-->
<footer class="border-top">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <ul class="list-inline text-center">
                    <li class="list-inline-item">
                        <a href="https://github.com/kaustubh43/BlogPost">
                            <span class="fa-stack fa-lg">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                </ul>
                <!-- <div class="small text-center text-muted fst-italic">Copyright &copy; Your Website 2023</div> -->
            </div>
        </div>
    </div>
</footer>


{% endblock %}